/* Styles for the header */
.company-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    text-align: left;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .company-header.hidden {
    transform: translateY(-100%); /* Hide the header */
  }
  
  .company-header.visible {
    transform: translateY(0); /* Show the header */
  }
  
  .company-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Styles for the video */
  .background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  