.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 119, 204, 0.6); 
  color: white;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 99%; 
  z-index: 1000; 
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white; 
}

.navbar-links a {
  margin: 0 20px;
  text-decoration: none;
  color: white; 
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.app-container {
  padding-top: 60px; 
}
